.page{
    background-color: rgb(11, 110, 140);
    font: normal 15pt Arial;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.352);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}